<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<div class="form">
    <form action="/play" method="post">
        <input type="text" name="pl1n">
        <input type="text" name="pl2n">
        <input type="text" name="pl1s">
        <input type="text" name="pl2s">
        <input type="submit" value="Start Game">
    </form>
</div>    
</body>
</html>